Data is [here](https://cycling.data.tfl.gov.uk)

In [196]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import janitor

plt.style.use('seaborn')

# Save altair graph data locally
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [184]:
# Load example data

url = 'https://cycling.data.tfl.gov.uk/usage-stats/194JourneyDataExtract25Dec2019-31Dec2019.csv'
df = (
    pd.read_csv(url)
    .clean_names()
)
df.head()

,rental_id,duration,bike_id,end_date,endstation_id,endstation_name,start_date,startstation_id,startstation_name
0,93943494,1080,11881,28/12/2019 11:30,553,"Regent's Row , Haggerston",28/12/2019 11:12,806,"Handyside Street, King's Cross"
1,93935067,1140,7263,27/12/2019 15:01,553,"Regent's Row , Haggerston",27/12/2019 14:42,806,"Handyside Street, King's Cross"
2,93958191,1080,12444,29/12/2019 14:03,553,"Regent's Row , Haggerston",29/12/2019 13:45,806,"Handyside Street, King's Cross"
3,93984872,1140,2287,31/12/2019 10:06,553,"Regent's Row , Haggerston",31/12/2019 09:47,806,"Handyside Street, King's Cross"
4,93966845,1080,2342,30/12/2019 08:20,806,"Handyside Street, King's Cross",30/12/2019 08:02,553,"Regent's Row , Haggerston"

In [185]:
# Calculate duration
minute = np.timedelta64(1, 'm')
df['end_date'] = pd.to_datetime(df['end_date'], format='%d/%m/%Y %H:%M')
df['start_date'] = pd.to_datetime(df['start_date'], format='%d/%m/%Y %H:%M')
df['duration'] = df['duration'] / 60

df.head()

,rental_id,duration,bike_id,end_date,endstation_id,endstation_name,start_date,startstation_id,startstation_name
0,93943494,18.0,11881,2019-12-28 11:30:00,553,"Regent's Row , Haggerston",2019-12-28 11:12:00,806,"Handyside Street, King's Cross"
1,93935067,19.0,7263,2019-12-27 15:01:00,553,"Regent's Row , Haggerston",2019-12-27 14:42:00,806,"Handyside Street, King's Cross"
2,93958191,18.0,12444,2019-12-29 14:03:00,553,"Regent's Row , Haggerston",2019-12-29 13:45:00,806,"Handyside Street, King's Cross"
3,93984872,19.0,2287,2019-12-31 10:06:00,553,"Regent's Row , Haggerston",2019-12-31 09:47:00,806,"Handyside Street, King's Cross"
4,93966845,18.0,2342,2019-12-30 08:20:00,806,"Handyside Street, King's Cross",2019-12-30 08:02:00,553,"Regent's Row , Haggerston"

# When do people rent cycles?

In [231]:
# Rentals by hour of day and day of week

hod = alt.Chart(df).mark_bar().encode(
    x=alt.X('hours(start_date):T', title='Hour or day'),
    y=alt.Y('count():Q', title='Number of rentals')
)


dow = alt.Chart(df).mark_bar().encode(
    x=alt.X('day(start_date):O', title='Day of week'),
    y=alt.Y('count():Q', title='Number of rentals')
).properties(
    width=350
)

hod | dow

alt.HConcatChart(...)

In [236]:
# Rentals by date and hour of day

alt.Chart(df).mark_rect().encode(
    x='hours(start_date):T',
    y='monthdate(start_date):T',
    color=('count()')
)

alt.Chart(...)

Londoners made the most of the [free](https://tfl.gov.uk/status-updates/major-works-and-events/christmas-day-2019) cycles on Christmas day.